In [41]:
from sqlalchemy import create_engine
import requests
import sys
import pymysql

In [42]:
URL = "dbbikes.cvwut6jnqsvn.us-east-1.rds.amazonaws.com"
PORT = "3306"
DB = "dbbikes"
USER = "admin"
PASSWORD = "password"

In [43]:
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{URL}:{PORT}/{DB}",echo = True)

sql ="""
CREATE TABLE IF NOT EXISTS station (
address VARCHAR(256),
banking int,
bike_stands int,
bonus int,
contract_name varchar(256),
name varchar(256),
number int primary key,
position_lat real,
position_lng real,
status varchar(256))"""

engine.execute(sql)

2023-03-11 10:27:39,081 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-03-11 10:27:39,081 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-11 10:27:39,272 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-03-11 10:27:39,272 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-11 10:27:39,365 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-03-11 10:27:39,365 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-11 10:27:39,561 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS station (
address VARCHAR(256),
banking int,
bike_stands int,
bonus int,
contract_name varchar(256),
name varchar(256),
number int primary key,
position_lat real,
position_lng real,
status varchar(256))
2023-03-11 10:27:39,561 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-11 10:27:39,664 INFO sqlalchemy.engine.Engine COMMIT

In [44]:
api_endpoint = "https://api.jcdecaux.com/vls/v1/stations"
params = {
    "contract": "dublin",
    "apiKey": "e58b454e0c21037a669b05e177dd6d3e910eb9fb"
}

try:
    data_bikes = requests.get(api_endpoint,params=params).json()

except requests.exceptions.RequestException as e:
    print(e)
    sys.exit(1)

[{'number': 42, 'contract_name': 'dublin', 'name': 'SMITHFIELD NORTH', 'address': 'Smithfield North', 'position': {'lat': 53.349562, 'lng': -6.278198}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1678529883000}, {'number': 30, 'contract_name': 'dublin', 'name': 'PARNELL SQUARE NORTH', 'address': 'Parnell Square North', 'position': {'lat': 53.3537415547453, 'lng': -6.26530144781526}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 12, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1678530141000}, {'number': 54, 'contract_name': 'dublin', 'name': 'CLONMEL STREET', 'address': 'Clonmel Street', 'position': {'lat': 53.336021, 'lng': -6.26298}, 'banking': False, 'bonus': False, 'bike_stands': 33, 'available_bike_stands': 27, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1678530042000}, {'number': 108, 'contract_name': 'dublin', 'name': 'AVONDALE ROAD', 'address': 'Avondale Road', 'position': {'lat': 53.359405, 'lng': -6.276142}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 14, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1678530188000}, {'number': 20, 'contract_name': 'dublin', 'name': 'JAMES STREET EAST', 'address': 'James Street East', 'position': {'lat': 53.336597, 'lng': -6.248109}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 25, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1678530121000}, {'number': 56, 'contract_name': 'dublin', 'name': 'MOUNT STREET LOWER', 'address': 'Mount Street Lower', 'position': {'lat': 53.33796, 'lng': -6.24153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 37, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1678529864000}, {'number': 6, 'contract_name': 'dublin', 'name': 'CHRISTCHURCH PLACE', 'address': 'Christchurch Place', 'position': {'lat': 53.343368, 'lng': -6.27012}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678530372000}, {'number': 18, 'contract_name': 'dublin', 'name': 'GRANTHAM STREET', 'address': 'Grantham Street', 'position': {'lat': 53.334123, 'lng': -6.265436}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 18, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1678530294000}, {'number': 32, 'contract_name': 'dublin', 'name': 'PEARSE STREET', 'address': 'Pearse Street', 'position': {'lat': 53.344304, 'lng': -6.250427}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 8, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1678530268000}, {'number': 52, 'contract_name': 'dublin', 'name': 'YORK STREET EAST', 'address': 'York Street East', 'position': {'lat': 53.338755, 'lng': -6.262003}, 'banking': False, 'bonus': False, 'bike_stands': 32, 'available_bike_stands': 21, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1678529829000}, {'number': 48, 'contract_name': 'dublin', 'name': 'EXCISE WALK', 'address': 'Excise Walk', 'position': {'lat': 53.347777, 'lng': -6.244239}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 33, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1678530149000}, {'number': 13, 'contract_name': 'dublin', 'name': 'FITZWILLIAM SQUARE WEST', 'address': 'Fitzwilliam Square West', 'position': {'lat': 53.336074, 'lng': -6.252825}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 24, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1678530262000}, {'number': 43, 'contract_name': 'dublin', 'name': 'PORTOBELLO ROAD', 'address': 'Portobello Road', 'position': {'lat': 53.330091, 'lng': -6.268044}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 6, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1678530145000}, {'number': 31, 'contract_name': 'dublin', 'name': 'PARNELL STREET', 'address': 'Parnell Street', 'position': {'lat': 53.350929, 'lng': -6.265125}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 2, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1678530028000}, {'number': 98, 'contract_name': 'dublin', 'name': 'FREDERICK STREET SOUTH', 'address': 'Frederick Street South', 'position': {'lat': 53.341515, 'lng': -6.256853}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 36, 'available_bikes': 4, 'status': 'OPEN', 'last_update': 1678530081000}, {'number': 14, 'contract_name': 'dublin', 'name': 'FOWNES STREET UPPER', 'address': 'Fownes Street Upper', 'position': {'lat': 53.344603, 'lng': -6.263371}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 20, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1678530258000}, {'number': 1, 'contract_name': 'dublin', 'name': 'CLARENDON ROW', 'address': 'Clarendon Row', 'position': {'lat': 53.340927, 'lng': -6.262501}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 24, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1678529860000}, {'number': 23, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE', 'address': 'Custom House', 'position': {'lat': 53.348279, 'lng': -6.254662}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 11, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1678530152000}, {'number': 106, 'contract_name': 'dublin', 'name': 'RATHDOWN ROAD', 'address': 'Rathdown Road', 'position': {'lat': 53.35893, 'lng': -6.280337}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 20, 'available_bikes': 20, 'status': 'OPEN', 'last_update': 1678530337000}, {'number': 112, 'contract_name': 'dublin', 'name': "NORTH CIRCULAR ROAD (O'CONNELL'S)", 'address': "North Circular Road (O'Connell's)", 'position': {'lat': 53.357841, 'lng': -6.251557}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678530380000}, {'number': 68, 'contract_name': 'dublin', 'name': 'HANOVER QUAY', 'address': 'Hanover Quay', 'position': {'lat': 53.344115, 'lng': -6.237153}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1678529969000}, {'number': 74, 'contract_name': 'dublin', 'name': 'OLIVER BOND STREET', 'address': 'Oliver Bond Street', 'position': {'lat': 53.343893, 'lng': -6.280531}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1678530168000}, {'number': 87, 'contract_name': 'dublin', 'name': 'COLLINS BARRACKS MUSEUM', 'address': 'Collins Barracks Museum', 'position': {'lat': 53.347477, 'lng': -6.28525}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 28, 'available_bikes': 10, 'status': 'OPEN', 'last_update': 1678530135000}, {'number': 84, 'contract_name': 'dublin', 'name': 'BROOKFIELD ROAD', 'address': 'Brookfield Road', 'position': {'lat': 53.339005, 'lng': -6.300217}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1678529982000}, {'number': 90, 'contract_name': 'dublin', 'name': 'BENSON STREET', 'address': 'Benson Street', 'position': {'lat': 53.344153, 'lng': -6.233451}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 39, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1678530014000}, {'number': 11, 'contract_name': 'dublin', 'name': 'EARLSFORT TERRACE', 'address': 'Earlsfort Terrace', 'position': {'lat': 53.334295, 'lng': -6.258503}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1678530206000}, {'number': 17, 'contract_name': 'dublin', 'name': 'GOLDEN LANE', 'address': 'Golden Lane', 'position': {'lat': 53.340803, 'lng': -6.267732}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 11, 'available_bikes': 9, 'status': 'OPEN', 'last_update': 1678529842000}, {'number': 45, 'contract_name': 'dublin', 'name': 'DEVERELL PLACE', 'address': 'Deverell Place', 'position': {'lat': 53.351464, 'lng': -6.255265}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1678530340000}, {'number': 114, 'contract_name': 'dublin', 'name': 'WILTON TERRACE (PARK)', 'address': 'Wilton Terrace (Park)', 'position': {'lat': 53.333653, 'lng': -6.248345}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678530329000}, {'number': 72, 'contract_name': 'dublin', 'name': 'JOHN STREET WEST', 'address': 'John Street West', 'position': {'lat': 53.343105, 'lng': -6.277167}, 'banking': False, 'bonus': False, 'bike_stands': 31, 'available_bike_stands': 13, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1678530084000}, {'number': 63, 'contract_name': 'dublin', 'name': 'FENIAN STREET', 'address': 'Fenian Street', 'position': {'lat': 53.341428, 'lng': -6.24672}, 'banking': False, 'bonus': False, 'bike_stands': 35, 'available_bike_stands': 27, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1678530060000}, {'number': 113, 'contract_name': 'dublin', 'name': 'MERRION SQUARE SOUTH', 'address': 'Merrion Square South', 'position': {'lat': 53.338614, 'lng': -6.248606}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1678530145000}, {'number': 91, 'contract_name': 'dublin', 'name': 'SOUTH DOCK ROAD', 'address': 'South Dock Road', 'position': {'lat': 53.341833, 'lng': -6.231291}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 11, 'available_bikes': 19, 'status': 'OPEN', 'last_update': 1678530282000}, {'number': 99, 'contract_name': 'dublin', 'name': 'CITY QUAY', 'address': 'City Quay', 'position': {'lat': 53.346637, 'lng': -6.246154}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 29, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1678529897000}, {'number': 9, 'contract_name': 'dublin', 'name': 'EXCHEQUER STREET', 'address': 'Exchequer Street', 'position': {'lat': 53.343034, 'lng': -6.263578}, 'banking': False, 'bonus': False, 'bike_stands': 24, 'available_bike_stands': 17, 'available_bikes': 7, 'status': 'OPEN', 'last_update': 1678529905000}, {'number': 67, 'contract_name': 'dublin', 'name': 'THE POINT', 'address': 'The Point', 'position': {'lat': 53.346867, 'lng': -6.230852}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 28, 'available_bikes': 12, 'status': 'OPEN', 'last_update': 1678530046000}, {'number': 116, 'contract_name': 'dublin', 'name': 'BROADSTONE', 'address': 'Broadstone', 'position': {'lat': 53.3547, 'lng': -6.272314}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678529880000}, {'number': 55, 'contract_name': 'dublin', 'name': 'HATCH STREET', 'address': 'Hatch Street', 'position': {'lat': 53.33403, 'lng': -6.260714}, 'banking': False, 'bonus': False, 'bike_stands': 36, 'available_bike_stands': 33, 'available_bikes': 1, 'status': 'OPEN', 'last_update': 1678530172000}, {'number': 62, 'contract_name': 'dublin', 'name': 'LIME STREET', 'address': 'Lime Street', 'position': {'lat': 53.346026, 'lng': -6.243576}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 35, 'available_bikes': 5, 'status': 'OPEN', 'last_update': 1678530068000}, {'number': 5, 'contract_name': 'dublin', 'name': 'CHARLEMONT PLACE', 'address': 'Charlemont Street', 'position': {'lat': 53.330662, 'lng': -6.260177}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 16, 'available_bikes': 24, 'status': 'OPEN', 'last_update': 1678529985000}, {'number': 97, 'contract_name': 'dublin', 'name': 'KILMAINHAM GAOL', 'address': 'Kilmainham Gaol', 'position': {'lat': 53.342113, 'lng': -6.310015}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 19, 'available_bikes': 21, 'status': 'OPEN', 'last_update': 1678530203000}, {'number': 61, 'contract_name': 'dublin', 'name': 'HARDWICKE PLACE', 'address': 'Hardwicke Place', 'position': {'lat': 53.357043, 'lng': -6.263232}, 'banking': False, 'bonus': False, 'bike_stands': 25, 'available_bike_stands': 22, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1678530001000}, {'number': 77, 'contract_name': 'dublin', 'name': 'WOLFE TONE STREET', 'address': 'Wolfe Tone Street', 'position': {'lat': 53.348875, 'lng': -6.267459}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 13, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1678530386000}, {'number': 73, 'contract_name': 'dublin', 'name': 'FRANCIS STREET', 'address': 'Francis Street', 'position': {'lat': 53.342081, 'lng': -6.275233}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 12, 'available_bikes': 18, 'status': 'OPEN', 'last_update': 1678530329000}, {'number': 4, 'contract_name': 'dublin', 'name': 'GREEK STREET', 'address': 'Greek Street', 'position': {'lat': 53.346874, 'lng': -6.272976}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 18, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678529864000}, {'number': 49, 'contract_name': 'dublin', 'name': 'GUILD STREET', 'address': 'Guild Street', 'position': {'lat': 53.347932, 'lng': -6.240928}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 18, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1678530221000}, {'number': 19, 'contract_name': 'dublin', 'name': 'HERBERT PLACE', 'address': 'Herbert Place', 'position': {'lat': 53.334432, 'lng': -6.245575}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1678530295000}, {'number': 7, 'contract_name': 'dublin', 'name': 'HIGH STREET', 'address': 'High Street', 'position': {'lat': 53.343565, 'lng': -6.275071}, 'banking': False, 'bonus': False, 'bike_stands': 29, 'available_bike_stands': 23, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1678530389000}, {'number': 60, 'contract_name': 'dublin', 'name': 'NORTH CIRCULAR ROAD', 'address': 'North Circular Road', 'position': {'lat': 53.359624, 'lng': -6.260348}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 22, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1678529915000}, {'number': 102, 'contract_name': 'dublin', 'name': 'WESTERN WAY', 'address': 'Western Way', 'position': {'lat': 53.354929, 'lng': -6.269425}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 32, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1678530364000}, {'number': 38, 'contract_name': 'dublin', 'name': 'TALBOT STREET', 'address': 'Talbot Street', 'position': {'lat': 53.350974, 'lng': -6.25294}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 29, 'available_bikes': 11, 'status': 'OPEN', 'last_update': 1678530302000}, {'number': 53, 'contract_name': 'dublin', 'name': 'NEWMAN HOUSE', 'address': 'Newman House', 'position': {'lat': 53.337132, 'lng': -6.26059}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 24, 'available_bikes': 16, 'status': 'OPEN', 'last_update': 1678530003000}, {'number': 58, 'contract_name': 'dublin', 'name': "SIR PATRICK DUN'S", 'address': "Sir Patrick's Dun", 'position': {'lat': 53.339218, 'lng': -6.240642}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678530256000}, {'number': 66, 'contract_name': 'dublin', 'name': 'NEW CENTRAL BANK', 'address': 'New Central Bank', 'position': {'lat': 53.347122, 'lng': -6.234749}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 34, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1678530103000}, {'number': 104, 'contract_name': 'dublin', 'name': 'GRANGEGORMAN LOWER (CENTRAL)', 'address': 'Grangegorman Lower (Central)', 'position': {'lat': 53.355173, 'lng': -6.278424}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 18, 'available_bikes': 22, 'status': 'OPEN', 'last_update': 1678530309000}, {'number': 101, 'contract_name': 'dublin', 'name': 'KING STREET NORTH', 'address': 'King Street North', 'position': {'lat': 53.350291, 'lng': -6.273507}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 17, 'available_bikes': 13, 'status': 'OPEN', 'last_update': 1678530167000}, {'number': 115, 'contract_name': 'dublin', 'name': 'KILLARNEY STREET', 'address': 'Killarney Street', 'position': {'lat': 53.354845, 'lng': -6.247579}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 15, 'available_bikes': 15, 'status': 'OPEN', 'last_update': 1678530213000}, {'number': 47, 'contract_name': 'dublin', 'name': 'HERBERT STREET', 'address': 'Herbert Street', 'position': {'lat': 53.335742, 'lng': -6.24551}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 40, 'available_bikes': 0, 'status': 'OPEN', 'last_update': 1678530190000}, {'number': 117, 'contract_name': 'dublin', 'name': 'HANOVER QUAY EAST', 'address': 'Hanover Quay East', 'position': {'lat': 53.343653, 'lng': -6.231755}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 38, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678529984000}, {'number': 8, 'contract_name': 'dublin', 'name': 'CUSTOM HOUSE QUAY', 'address': 'Custom House Quay', 'position': {'lat': 53.347884, 'lng': -6.248048}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 27, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1678530225000}, {'number': 27, 'contract_name': 'dublin', 'name': 'MOLESWORTH STREET', 'address': 'Molesworth Street', 'position': {'lat': 53.341288, 'lng': -6.258117}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 17, 'available_bikes': 3, 'status': 'OPEN', 'last_update': 1678530058000}, {'number': 16, 'contract_name': 'dublin', 'name': 'GEORGES QUAY', 'address': 'Georges Quay', 'position': {'lat': 53.347508, 'lng': -6.252192}, 'banking': False, 'bonus': False, 'bike_stands': 20, 'available_bike_stands': 14, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1678530187000}, {'number': 96, 'contract_name': 'dublin', 'name': 'KILMAINHAM LANE', 'address': 'Kilmainham Lane', 'position': {'lat': 53.341805, 'lng': -6.305085}, 'banking': False, 'bonus': False, 'bike_stands': 30, 'available_bike_stands': 28, 'available_bikes': 2, 'status': 'OPEN', 'last_update': 1678529899000}, {'number': 82, 'contract_name': 'dublin', 'name': 'MOUNT BROWN', 'address': 'Mount Brown', 'position': {'lat': 53.341645, 'lng': -6.29719}, 'banking': False, 'bonus': False, 'bike_stands': 22, 'available_bike_stands': 2, 'available_bikes': 6, 'status': 'OPEN', 'last_update': 1678529848000}, {'number': 76, 'contract_name': 'dublin', 'name': 'MARKET STREET SOUTH', 'address': 'Market Street South', 'position': {'lat': 53.342296, 'lng': -6.287661}, 'banking': False, 'bonus': False, 'bike_stands': 38, 'available_bike_stands': 30, 'available_bikes': 8, 'status': 'OPEN', 'last_update': 1678530231000}, {'number': 71, 'contract_name': 'dublin', 'name': 'KEVIN STREET', 'address': 'Kevin Street', 'position': {'lat': 53.337757, 'lng': -6.267699}, 'banking': False, 'bonus': False, 'bike_stands': 40, 'available_bike_stands': 23, 'available_bikes': 17, 'status': 'OPEN', 'last_updat

In [45]:
sql_bikes = "INSERT IGNORE INTO station (address, banking, bike_stands, " \
            "bonus, contract_name, name, number, status, position_lat, position_lng) " \
            "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

In [46]:
# Iterate through the data response object and perform inserts

for elem in range(len(data_bikes)):
    val = (data_bikes[elem]["address"], data_bikes[elem]["banking"], data_bikes[elem]["bike_stands"],
               data_bikes[elem]["bonus"], data_bikes[elem]["contract_name"], data_bikes[elem]["name"], data_bikes[elem]["number"], data_bikes[elem]["status"], data_bikes[elem]['position']['lat'], data_bikes[elem]['position']['lng'] )

    engine.execute(sql_bikes, val)

2023-03-11 10:27:40,170 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:40,170 INFO sqlalchemy.engine.Engine [raw sql] ('Smithfield North', False, 30, False, 'dublin', 'SMITHFIELD NORTH', 42, 'OPEN', 53.349562, -6.278198)
2023-03-11 10:27:40,264 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:40,446 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:40,446 INFO sqlalchemy.engine.Engine [raw sql] ('Parnell Square North', False, 20, False, 'dublin', 'PARNELL SQUARE NORTH', 30, 'OPEN', 53.3537415547453, -6.26530144781526)
2023-03-11 10:27:40,542 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:40,739 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:40,739 INFO sqlalchemy.engine.Engine [raw sql] ('Clonmel Street', False, 33, False, 'dublin', 'CLONMEL STREET', 54, 'OPEN', 53.336021, -6.26298)
2023-03-11 10:27:40,835 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:41,025 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:41,025 INFO sqlalchemy.engine.Engine [raw sql] ('Avondale Road', False, 35, False, 'dublin', 'AVONDALE ROAD', 108, 'OPEN', 53.359405, -6.276142)
2023-03-11 10:27:41,121 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:41,302 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:41,302 INFO sqlalchemy.engine.Engine [raw sql] ('James Street East', False, 30, False, 'dublin', 'JAMES STREET EAST', 20, 'OPEN', 53.336597, -6.248109)
2023-03-11 10:27:41,397 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:41,595 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:41,595 INFO sqlalchemy.engine.Engine [raw sql] ('Mount Street Lower', False, 40, False, 'dublin', 'MOUNT STREET LOWER', 56, 'OPEN', 53.33796, -6.24153)
2023-03-11 10:27:41,682 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:41,874 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:41,874 INFO sqlalchemy.engine.Engine [raw sql] ('Christchurch Place', False, 20, False, 'dublin', 'CHRISTCHURCH PLACE', 6, 'OPEN', 53.343368, -6.27012)
2023-03-11 10:27:41,970 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:42,160 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:42,160 INFO sqlalchemy.engine.Engine [raw sql] ('Grantham Street', False, 30, False, 'dublin', 'GRANTHAM STREET', 18, 'OPEN', 53.334123, -6.265436)
2023-03-11 10:27:42,255 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:42,438 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:42,453 INFO sqlalchemy.engine.Engine [raw sql] ('Pearse Street', False, 30, False, 'dublin', 'PEARSE STREET', 32, 'OPEN', 53.344304, -6.250427)
2023-03-11 10:27:42,547 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:42,735 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:42,735 INFO sqlalchemy.engine.Engine [raw sql] ('York Street East', False, 32, False, 'dublin', 'YORK STREET EAST', 52, 'OPEN', 53.338755, -6.262003)
2023-03-11 10:27:42,828 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:43,016 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:43,016 INFO sqlalchemy.engine.Engine [raw sql] ('Excise Walk', False, 40, False, 'dublin', 'EXCISE WALK', 48, 'OPEN', 53.347777, -6.244239)
2023-03-11 10:27:43,112 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:43,306 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:43,306 INFO sqlalchemy.engine.Engine [raw sql] ('Fitzwilliam Square West', False, 30, False, 'dublin', 'FITZWILLIAM SQUARE WEST', 13, 'OPEN', 53.336074, -6.252825)
2023-03-11 10:27:43,400 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:43,603 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:43,603 INFO sqlalchemy.engine.Engine [raw sql] ('Portobello Road', False, 30, False, 'dublin', 'PORTOBELLO ROAD', 43, 'OPEN', 53.330091, -6.268044)
2023-03-11 10:27:43,697 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:43,891 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:43,891 INFO sqlalchemy.engine.Engine [raw sql] ('Parnell Street', False, 20, False, 'dublin', 'PARNELL STREET', 31, 'OPEN', 53.350929, -6.265125)
2023-03-11 10:27:43,984 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:44,173 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:44,173 INFO sqlalchemy.engine.Engine [raw sql] ('Frederick Street South', False, 40, False, 'dublin', 'FREDERICK STREET SOUTH', 98, 'OPEN', 53.341515, -6.256853)
2023-03-11 10:27:44,267 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:44,454 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:44,454 INFO sqlalchemy.engine.Engine [raw sql] ('Fownes Street Upper', False, 30, False, 'dublin', 'FOWNES STREET UPPER', 14, 'OPEN', 53.344603, -6.263371)
2023-03-11 10:27:44,558 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:44,754 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:44,754 INFO sqlalchemy.engine.Engine [raw sql] ('Clarendon Row', False, 31, False, 'dublin', 'CLARENDON ROW', 1, 'OPEN', 53.340927, -6.262501)
2023-03-11 10:27:44,848 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:45,038 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:45,040 INFO sqlalchemy.engine.Engine [raw sql] ('Custom House', False, 30, False, 'dublin', 'CUSTOM HOUSE', 23, 'OPEN', 53.348279, -6.254662)
2023-03-11 10:27:45,134 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:45,367 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:45,383 INFO sqlalchemy.engine.Engine [raw sql] ('Rathdown Road', False, 40, False, 'dublin', 'RATHDOWN ROAD', 106, 'OPEN', 53.35893, -6.280337)
2023-03-11 10:27:45,479 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:45,653 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:45,669 INFO sqlalchemy.engine.Engine [raw sql] ("North Circular Road (O'Connell's)", False, 30, False, 'dublin', "NORTH CIRCULAR ROAD (O'CONNELL'S)", 112, 'OPEN', 53.357841, -6.251557)
2023-03-11 10:27:45,754 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:45,947 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:45,947 INFO sqlalchemy.engine.Engine [raw sql] ('Hanover Quay', False, 40, False, 'dublin', 'HANOVER QUAY', 68, 'OPEN', 53.344115, -6.237153)
2023-03-11 10:27:46,041 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:46,230 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:46,230 INFO sqlalchemy.engine.Engine [raw sql] ('Oliver Bond Street', False, 30, False, 'dublin', 'OLIVER BOND STREET', 74, 'OPEN', 53.343893, -6.280531)
2023-03-11 10:27:46,326 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:46,517 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:46,517 INFO sqlalchemy.engine.Engine [raw sql] ('Collins Barracks Museum', False, 38, False, 'dublin', 'COLLINS BARRACKS MUSEUM', 87, 'OPEN', 53.347477, -6.28525)
2023-03-11 10:27:46,613 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:46,805 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:46,805 INFO sqlalchemy.engine.Engine [raw sql] ('Brookfield Road', False, 30, False, 'dublin', 'BROOKFIELD ROAD', 84, 'OPEN', 53.339005, -6.300217)
2023-03-11 10:27:46,899 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:47,089 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:47,089 INFO sqlalchemy.engine.Engine [raw sql] ('Benson Street', False, 40, False, 'dublin', 'BENSON STREET', 90, 'OPEN', 53.344153, -6.233451)
2023-03-11 10:27:47,184 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:47,363 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:47,379 INFO sqlalchemy.engine.Engine [raw sql] ('Earlsfort Terrace', False, 30, False, 'dublin', 'EARLSFORT TERRACE', 11, 'OPEN', 53.334295, -6.258503)
2023-03-11 10:27:47,472 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:47,661 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:47,661 INFO sqlalchemy.engine.Engine [raw sql] ('Golden Lane', False, 20, False, 'dublin', 'GOLDEN LANE', 17, 'OPEN', 53.340803, -6.267732)
2023-03-11 10:27:47,754 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:47,948 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:47,948 INFO sqlalchemy.engine.Engine [raw sql] ('Deverell Place', False, 30, False, 'dublin', 'DEVERELL PLACE', 45, 'OPEN', 53.351464, -6.255265)
2023-03-11 10:27:48,037 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:48,227 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:48,227 INFO sqlalchemy.engine.Engine [raw sql] ('Wilton Terrace (Park)', False, 40, False, 'dublin', 'WILTON TERRACE (PARK)', 114, 'OPEN', 53.333653, -6.248345)
2023-03-11 10:27:48,321 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:48,509 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:48,509 INFO sqlalchemy.engine.Engine [raw sql] ('John Street West', False, 31, False, 'dublin', 'JOHN STREET WEST', 72, 'OPEN', 53.343105, -6.277167)
2023-03-11 10:27:48,619 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:48,807 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:48,807 INFO sqlalchemy.engine.Engine [raw sql] ('Fenian Street', False, 35, False, 'dublin', 'FENIAN STREET', 63, 'OPEN', 53.341428, -6.24672)
2023-03-11 10:27:48,901 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:49,091 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:49,091 INFO sqlalchemy.engine.Engine [raw sql] ('Merrion Square South', False, 40, False, 'dublin', 'MERRION SQUARE SOUTH', 113, 'OPEN', 53.338614, -6.248606)
2023-03-11 10:27:49,185 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:49,379 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:49,379 INFO sqlalchemy.engine.Engine [raw sql] ('South Dock Road', False, 30, False, 'dublin', 'SOUTH DOCK ROAD', 91, 'OPEN', 53.341833, -6.231291)
2023-03-11 10:27:49,477 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:49,656 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:49,656 INFO sqlalchemy.engine.Engine [raw sql] ('City Quay', False, 30, False, 'dublin', 'CITY QUAY', 99, 'OPEN', 53.346637, -6.246154)
2023-03-11 10:27:49,748 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:49,943 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:49,943 INFO sqlalchemy.engine.Engine [raw sql] ('Exchequer Street', False, 24, False, 'dublin', 'EXCHEQUER STREET', 9, 'OPEN', 53.343034, -6.263578)
2023-03-11 10:27:50,045 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:50,234 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:50,234 INFO sqlalchemy.engine.Engine [raw sql] ('The Point', False, 40, False, 'dublin', 'THE POINT', 67, 'OPEN', 53.346867, -6.230852)
2023-03-11 10:27:50,328 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:50,506 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:50,522 INFO sqlalchemy.engine.Engine [raw sql] ('Broadstone', False, 30, False, 'dublin', 'BROADSTONE', 116, 'OPEN', 53.3547, -6.272314)
2023-03-11 10:27:50,617 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:50,806 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:50,806 INFO sqlalchemy.engine.Engine [raw sql] ('Hatch Street', False, 36, False, 'dublin', 'HATCH STREET', 55, 'OPEN', 53.33403, -6.260714)
2023-03-11 10:27:50,901 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:51,091 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:51,091 INFO sqlalchemy.engine.Engine [raw sql] ('Lime Street', False, 40, False, 'dublin', 'LIME STREET', 62, 'OPEN', 53.346026, -6.243576)
2023-03-11 10:27:51,187 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:51,364 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:51,381 INFO sqlalchemy.engine.Engine [raw sql] ('Charlemont Street', False, 40, False, 'dublin', 'CHARLEMONT PLACE', 5, 'OPEN', 53.330662, -6.260177)
2023-03-11 10:27:51,473 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:51,662 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:51,662 INFO sqlalchemy.engine.Engine [raw sql] ('Kilmainham Gaol', False, 40, False, 'dublin', 'KILMAINHAM GAOL', 97, 'OPEN', 53.342113, -6.310015)
2023-03-11 10:27:51,755 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:51,942 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:51,942 INFO sqlalchemy.engine.Engine [raw sql] ('Hardwicke Place', False, 25, False, 'dublin', 'HARDWICKE PLACE', 61, 'OPEN', 53.357043, -6.263232)
2023-03-11 10:27:52,036 INFO sqlalchemy.engine.Engine COMMIT
2023-03-11 10:27:52,225 INFO sqlalchemy.engine.Engine INSERT IGNORE INTO station (address, banking, bike_stands, bonus, contract_name, name, number, status, position_lat, position_lng) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
2023-03-11 10:27:52,225 INFO sqlalchemy.engine.Engine [raw sql] ('Wolfe Tone Street', False, 29, False, 'dublin', 'WOLFE TONE STREET', 77, 'OPEN', 53.348875, -6.267459)
2023-03-11 10:27:52,318 INFO sqlalchemy.engine.Engine COMMIT