In [1]:
from sqlalchemy import create_engine
import requests
import sys
import pymysql

In [2]:
URL = "dbbikes.cvwut6jnqsvn.us-east-1.rds.amazonaws.com"
PORT = "3306"
DB = "dbbikes"
USER = "admin"
PASSWORD = "password"

In [3]:
engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{URL}:{PORT}/{DB}",echo = True)

sql ="""
CREATE TABLE IF NOT EXISTS station(
address VARCHAR(256),
banking int,
bike_stands int,
bonus int,
contract_name varchar(256),
name varchar(256),
number int primary key,
position_lat real,
position_lng real,
status varchar(256)
)"""

engine.execute(sql)

2023-04-18 11:29:46,651 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-04-18 11:29:46,658 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-04-18 11:29:46,857 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-04-18 11:29:46,858 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-04-18 11:29:46,957 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-04-18 11:29:46,959 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-04-18 11:29:47,163 INFO sqlalchemy.engine.Engine
CREATE TABLE IF NOT EXISTS station(
address VARCHAR(256),
banking int,
bike_stands int,
bonus int,
contract_name varchar(256),
name varchar(256),
number int primary key,
position_lat real,
position_lng real,
status varchar(256)
)
2023-04-18 11:29:47,165 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-04-18 11:29:47,274 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
# Connect to JCDeaux and pull stations data
api_endpoint = "https://api.jcdecaux.com/vls/v1/stations"
params = {
    "contract": "dublin",
    "apiKey": "e58b454e0c21037a669b05e177dd6d3e910eb9fb"
}

try:
    data_bikes = requests.get(api_endpoint,params=params).json()

except requests.exceptions.RequestException as e:
    print(e)
    sys.exit(1)

In [ ]:
# SQL code to insert 
sql_bikes = "INSERT IGNORE INTO station (address, banking, bike_stands, " \
            "bonus, contract_name, name, number, status, position_lat, position_lng) " \
            "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

In [ ]:
# Iterate through the data response object and perform inserts

for i in range(len(data_bikes)):
    val = (data_bikes[i]["address"], data_bikes[i]["banking"], data_bikes[i]["bike_stands"],
               data_bikes[i]["bonus"], data_bikes[i]["contract_name"], data_bikes[i]["name"], data_bikes[i]["number"], data_bikes[i]["status"], data_bikes[i]['position']['lat'], data_bikes[i]['position']['lng'] )

    engine.execute(sql_bikes, val)